HOST=
PORT=

# DB Local
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
PGDATABASE=
DATABASE_URL=

# JWT token
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

# REDIS
REDIS_HOST=
REDIS_PORT=

# RABBITMQ SERVER
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# SMTP SERVER
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=